
button {
  all: unset;
}

button:hover {
    background-color: var(--btn-hover-color);
    cursor: pointer;
}

/*ОСНОВНОЙ БЛОК ФАЙЛА*/

.header_top {
    background-color: var(--three-color);
}

.header_top_menu {
    margin: auto 60px;
    padding: 48px 0;
    display: flex;
    justify-content: space-between;
}

.header_top_left {
    display: flex;
    flex-direction: column;
}

.header_top_right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_top_logo {
    width: 245px;
    height: 47px;
}

.header_top_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}
.header_top_brend_img {
    margin-top: 5px;
    font-weight: 700;
    font-size: 24px;
}

.header_top_cars {
    width: 64px;
    height: 64px;
    background-color: var(--two-color);
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_top_cars:hover {
    background-color: var(--btn-hover-color);
}

.img_top_cars {
    width: auto;
    height: auto;
}

select {
    appearance: none;
    background: url("/img/arrow.png") no-repeat right 20px center;
    padding-right: 40px;
}

.city {
    border: none;
    width: 37vw;
    background-color: var(--two-color);
    padding: 20px 20px;
    border-radius: 20px;
    margin-left: 20px;
}


.header_bnr {
    background-color: var(--one-color);
    border-radius: 20px;
    padding: 20px 40px;
    margin-left: 20px;
}

@media (max-width: 980px) {
    .header_top_logo {
    width: 24vw;
    min-width: 120px;
    }

    .header_top_brend_img {
    font-size: clamp(16px, 3vw, 24px);
    }

    .header_top_cars {
    display: none;
    }

    .city {
    border-radius: 10px;
    padding: 12px 20px;
    margin-bottom: 10px;
    }

    .header_bnr {
        border-radius: 10px;
        padding: 12px 15px;
        margin-left: 15px;
        font-size: 12px;
    }

    .header_top_right {
    flex-direction: column;
    }


}