
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
}

button {
  all: unset;
}

button:hover {
    background-color: #6d6c6ce6;
    cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}


/*CAR-CARD*/

.used_content,
.cars_stock {
    margin: 60px
}

.car-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.car-card {
    max-width: 587px;
    width: 33%;
    background: var(--five-color);
    border-radius: 20px;
}

.car-card-content {
    margin-bottom: 20px;
}

.image-content {
    background-image: url(/img/card/Скриншот_1.svg);
    background-repeat: no-repeat;
    padding: clamp(5px, 1.5vw, 23px);
    border-radius: 20px 20px 0 0;
}

.image-content-info {
    display: flex;
    justify-content: space-between;
}

.image-content_title {
    color: var(--two-color);
    font-weight: 600;
    font-size: 24px;
}

.image-content_grade {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--one-color);
    color: var(--two-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-content-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.btn-reviews {
    padding: 18px clamp(20px, 2.5vw, 40px);
    background-color: var(--one-color);
    border-radius: 20px;
    color: var(--two-color);
    font-size: clamp(12px, 1.5vw, 16px);
}

.btn-map {
    padding: 18px clamp(20px, 2.5vw, 40px);
    background-color: var(--five-color);
    border-radius: 20px;
    color: var(--six-color);
    font-size: clamp(12px, 1.5vw,16px);
}

.image-pictures {
    display: flex;
    justify-content: space-between;
    margin-top: 2px;

    border-radius: 0 0 20px 20px;
    overflow: hidden; /* ключевое */
}


.pictures_img-2 {
    margin: 0px 2px;
}

.pictures_img-3 {
    margin-right: 2px;
}

.pictures_img,
.pictures_img-2,
.pictures_img-3 {
    position: relative;
}

.pictures_img-text {
    position: absolute;
    margin-top: 50%;
    margin-left: 20%;
    z-index: 2;
    color: var(--two-color);
    font-weight: 900;
    font-style: normal;
    font-size: clamp(12px, 1.5vw, 14px);
    line-height: 1;
}

.pictures_img::after,
.pictures_img-2::after,
.pictures_img-3::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6);
    z-index: 1;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*card parameters*/

.car-info {
    margin: 0;
}

.car-info-row {
    display: flex;
    justify-content: space-between;
    padding: 11px 32px 11px 32px;
    border-bottom: 1px solid #e5e5e5;
    font-weight: 400;
    font-size: clamp(12px, 1.5vw,18px);
}

.car-info-row.bot {
    border-bottom: none;
}

.car-info-row dt {
    color: var(--six-color);
}

.car-info-row dd {
    margin: 0;
    text-align: right;
}

/*USED_CONTENT*/

.cars_stock {
    background-color: var(--five-color);
    border-radius: 20px;
}

.stock_text {
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 0em;
}

.stock_next {
    display: flex;
}

.stock_next-text {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.30;
    letter-spacing: 0em;
}

.stock_next-svg {
    width: 20px;
    padding: 3px;
}

.stock_content {
    padding: 40px 30px;
}

.stock_block-1,
.stock_block-2 {
    display: flex;
    justify-content: space-between;
}

.stock_block-1 {
    margin: 0 1%;
}

.stock_carts {
    flex: 1 1 0;
    min-width: 0;
    background-color: var(--two-color);
    margin: 30px 1% 0;
    border-radius: 20px;
}

.cart-img {
    max-width: 273px;
    border-radius: 20px;
}

.cart-inf-brand {
    margin: 0 20px 20px;
    display: flex;
    justify-content: space-between;
}
.brand_year {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.30;
    opacity: 50%;
}

.cart-text {
    margin-top: 20px;
}

.cart-inf-text {
    margin: 0 20px 20px;
}

.cart-inf-text.address {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.30;
    opacity: 50%;
}