:root {
  --one-color: #FA3B50;
  --two-color: #fff;
  --three-color: #EBEBEB;
  --five-color: #F5F5F5;
  --six-color: #000;
  --seven-color: #E6E6E6;
  --eight-color: #E1E1E1;
  --btn-hover-color: #cf2e40;
  --font-size-large: 40px;
  --font-family: 'Montserrat', sans-serif;
}

